* {
  box-sizing: border-box;
}
#root {
  background: #fdfdfd;
  border-radius: 25px;
  overflow: hidden;
  user-select: none;
}
body {
  background-color: #efeaff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.card {
  cursor: pointer;
  display: grid;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #fcfcfcd5; 
  background-color: #a6a6b794;
}
.card:hover {
  background-color: #efeaff7b;
  border-radius: 20px;
}

.forecast {
  display: flex;
  margin-top: 5px;
}

h1 {
  text-align: center;
  /* margin-bottom: 0px; */
} 

.widget {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #efeaff;
  justify-content: space-around;
}